/* ==========================================================================
   Huguette's custom styles
   ========================================================================== */

    body img {
        clear: both;
        z-index: 1;
        width: 100%;
        overflow: hidden;
    }
  .top-bar {
        margin-bottom: 20px;
    }
    #bannerlogo {
        padding-left: 40px;
    }
    .row block1{
        margin-left: auto;
        margin-right: auto;
    }
    #block2 { /*------------block 2 et block 3 couleur de fond et bordure ------*/
        height: 130px;
        border: 6px solid black;
        border-bottom: 0px solid;
    }
    #block3 {
        height: 130px;
        border: 6px solid black;
        border-bottom: 0px solid;
    }
    #block4 {
        height: 130px;
        border: 6px solid black;
        border-bottom: 0px solid;
    }
    #blockcolor { /*------------style de la row 1 entiere ------*/
        margin-top: 20px;

    }

    #blockcolor img {
        margin-left: 15px;
    }

   .button {
      
   }
   #side {
       padding-top: 20px;
       float: left;
       margin: 0 auto;
   }

@media all and (max-width:600px) {
    body{
        overflow: hidden;
    }
    #bannerlogo {
        background-color: #363442;
        padding-bottom: 15px;
        padding-top: 10px;
    }
    #blockcolor { /*------------style de la row 1 entiere ------*/
        margin: 0 auto;

    }
}
@media all and (max-width: 899px) {
    body{
        overflow: hidden;
    }
    #bannerlogo {
        background-color: #363442;
        padding-bottom: 15px;
        padding-top: 10px;
    }
    #blockcolor { /*------------style de la row 1 entiere ------*/
        margin-top: 20px;

    }
    #block2 { /*------------block 2 et block 3 couleur de fond et bordure ------*/
        height: 200px;
        border: 6px solid black;
        border-bottom: 0px solid;
    }
    #block3 {
        height: 200px;
        border: 6px solid black;
        border-bottom: 0px solid;
    }
    #block4 {
        height: 200px;
        border: 6px solid black;
        border-bottom: 0px solid;
    }

    }
